# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# postgresql://[USER_NAME]:[PASSWORD]@localhost:5432/[DB_NAME]?schema=public
DATABASE_URL="postgresql://user:password@localhost:5432/task_manager?schema=public"

WEB_APP_ORIGIN=http://localhost:5173

# 署名付きクッキーの秘密鍵
# 以下のコマンドで生成する
# > openssl rand -base64 32
COOKIE_SECRET_KEY=secret

# JWTの秘密鍵
# 以下のコマンドで生成する
# > openssl rand -base64 32
JWT_SECRET_KEY=secret